@model ResourceList

@{
    ViewBag.Title = "Home Page";
}

@foreach (var list in @Model.SimpleList)
{
    <p>@string.Join(", ", list)</p>
}

<br />
<p>SimpleList Finished.</p>
<br />

@foreach (var list in @Model.HarderList)
{
    <p>@string.Join(", ", list)</p>
}

<br />
<p>HarderList Finished.</p>
